DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=anycomp
PORT=5050
SYNCHRONIZE=true

FRONTEND_URL=http://localhost:3000

APP_ENV=Development

ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRE_IN = 7d 

DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_NAME=Super Admin